# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints/

# Flask / instance folder
instance/
.webassets-cache

# Virtual environments
.env/
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code / PyCharm IDE files
.vscode/
.idea/

# Downloads folder
downloads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
