<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram & Social Media Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Instagram & Social Media Downloader</h1>
        <form action="/download" method="get">
            <input type="text" name="url" placeholder="Enter video URL" required>
            <button type="submit">Download Video</button>
        </form>

        <button class="affiliate-btn" 
            onclick="window.open('https://www.amazon.ae/dp/B07DX89ZHN?tag=healthhackzon-21','_blank','width=600,height=800')">
            Buy on Amazon
        </button>
    </div>
</body>
</html>
